<h5>signup</h5>
<form action='/signup' method='post')
email: <input type='text' name = 'email'>
password : <input type='text' name='password'>
device_id: <input type='text' name='deviceId'>
Name : <input type='text' name='name'>
<input type='submit'>

<h5>signin</h5>
<form action ='signin' method='post'>
email:<input type='text' name ='email' >
pass : <input type='text' name = 'password'>
<input type='submit'>